"*":
  Termrk:
    fontFamily: "Source Code Pro"
  autosave: {}
  core:
    autoHideMenuBar: true
    projectHome: "~/code"
  editor:
    fontFamily: "Source Code Pro"
    invisibles: {}
    scrollPastEnd: true
    showInvisibles: true
    softTabs: true
  linter:
    statusBar: "Show error if the cursor is in range"
  "linter-scalac":
    compileAllClassesOnLint: true
    compileClassesToClasspath: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
".cs.source":
  editor:
    tabLength: 4
".csx.source":
  editor:
    tabLength: 2
