"*":
  welcome:
    showOnStartup: false
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  core:
    autoHideMenuBar: true
    projectHome: "~/code"
  editor:
    invisibles:
      {}
    fontFamily: "Source Code Pro"
    fontSize: 14
    scrollPastEnd: true
    softTabs: true
    showInvisibles: true
  linter:
    {}
  autosave:
    enabled: true
  Termrk:
    fontFamily: "Source Code Pro"
".cs.source":
  editor:
    tabLength: 4
".csx.source":
  editor:
    tabLength: 2
