packages: [

  # core features
  "linter"
  "package-sync"
  "termrk"
  "advanced-open-file"

  # editing
  "file-icons"
  "wrap-lines"
  "autocomplete-paths"
  "autocomplete-ctags"
  "vim-mode"
  "ex-mode"
  "vim-surround"
  "parinfer"

  # clojure
  "linter-clojure"
  "linter-lein"
  "linter-eastwood"

  # VCS
  "merge-conflicts"

  # scala
  "language-scala"
  "linter-scalac"

  # Windows and friends
  "language-batchfile"
  "language-powershell"

  "language-fsharp"

  # ruby
  "linter-ruby"
  "linter-rubocop"
  "language-rspec"
  "autocomplete-ruby"

  # web stuff
  "linter-csslint"
  "linter-htmlhint"
  "linter-coffescript"
  "linter-jshint"
  "language-javascript-jsx"

  "linter-shellcheck"
  "linter-xmllint"

  # saltstack
  "language-salt"
]
