packages: [
  "linter"
  "merge-conflicts"
  "package-sync"
  "vim-mode"
  "ex-mode"
  "vim-surround"
  "wrap-lines"
  "termrk"
  "file-icons"

  # scala
  "language-scala"
  "linter-scalac"

  # Windows and friends
  "omnisharp-atom"
  "language-batchfile"
  "language-powershell"

  # ruby
  "linter-ruby"
  "linter-rubocop"
  "linter-reek"
  "language-rspec"
]
