packages: [
  "linter"
  "merge-conflicts"
  "package-sync"
  "vim-mode"
  "ex-mode"
  "vim-surround"
  "wrap-lines"
  "termrk"
  "file-icons"

  # scala
  "language-scala"
  "linter-scalac"

  # Windows and friends
  "omnisharp-atom"
  "language-batchfile"
  "language-powershell"

  # ruby
  "linter-ruby"
  "linter-rubocop"
  "linter-reek"
  "language-rspec"

  # web stuff
  "linter-csslint"
  "linter-htmlhint"
  "linter-coffescript"
  "linter-jshint"
  "language-javascript-jsx"

  # lint them all
  "linter-shellcheck"
  "linter-xmllint"

  # saltstack
  "language-salt"
]
